<div class="row">
  <div class="col-sm-7">
    <md-card color=primary>
      <div class="row">
        <div class="col-sm-2 offset-sm-1">
          <md-input-container>
            <input mdInput align="end" placeholder="نام صاحب قبض" id="sahebGhabz" [(ngModel)]="nameSahebGhabz"/>
          </md-input-container>
        </div>
        <div class="col-sm-1">
          <button md-raised-button color="primary" [disabled]="!nameSahebGhabz" (click)="findGhabz()">جستجوی قبض</button>
          <!--<button [disabled]="!nameSahebGhabz" md-button md-raised-button color="primary" (click)="findGhabz()">جستجوی قبض</button>-->
        </div>
        <div [hidden]="!errorMessage" class="col-sm-6 offset-sm-2">
          <p class="">
            <md-icon style="color:red;" color="primary">error outline</md-icon> {{errorMessage}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <dx-data-grid [dataSource]='ghabzAnbar'>
            <!--<div *dxTemplate="let cellData of 'phoneCellTemplate'">
        <dx-button (onClick)="callNumber(cellData.value)" [text]="cellData.text"></dx-button>
    </div>-->
          </dx-data-grid>
        </div>
      </div>
    </md-card>
  </div>
</div>

